<!-- Plantilla extension de base -->
{% extends 'base.html' %}
<!-- nombre en la pestaña del navegador -->
{% block title %}Pagina Principal{% endblock %}

{% block content %}

<header class="text-center">
  <h1>PAGINA PRINCIPAL</h1>
</header>

<div class="jumbotron bg-light p-5 rounded mt-4">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
      <h2 class="display-4">Bienvenido al sistema de registro de productos</h2>
      <p class="lead"></p>
      <hr class="my-4">
      <p>Haz clic en los enlaces de arriba para ir a las diferentes secciones del sistema</p>
    </div>
  </div>
</div>
{% endblock %}

